body > div.links {
    position: fixed;
    font-family: "IranSans";
    font-size: 0.75rem;
    direction: rtl;
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0;
    left: 0;
    right: 0;
}
body > div.links > div.footer {
    font-family: "IranSans";
    direction: rtl;
}
@media screen and (min-height: 486px) and (orientation: portrait) {
    body > div.links > div.link-container {
        padding-bottom: 1.5rem !important;
    }
}
