footer {
  background-color: darkslategrey;
  border-radius: 5px;
  direction: rtl;
}
footer ul {
  list-style-type: none;
}
footer a,
footer p,
footer i {
  color: white;
}
footer a:hover {
  text-decoration: underline;
  color: yellowgreen;
}
footer > nav > section.row > div:nth-of-type(1) > ul > li {
  text-align: right;
  font-size: 1.25rem;
}
footer > nav > section.row > div:nth-of-type(1) > ul > li > a > i {
  font-size: 2rem;
}
footer > nav > section.row > div:nth-of-type(2) > ul > li > iframe#map {
  width: 100%;
  height: 100%;
  border: 3px solid white !important;
  border-radius: 5px;
}
footer > nav > section.row > div:nth-of-type(2) > ul > li > div {
  border: 1px solid white;
  text-align: right;
  width: 100%;
}
footer > nav > section.row > div:nth-of-type(2) > ul > li > div.container > div > div > i {
  font-size: 2rem;
}
