footer {
    background-color: darkslategrey;
    border-radius: 5px;
    direction: rtl;
}
footer > section > div > p {
    border-bottom: 3px solid white;
}
footer > section > div > img {
    position: absolute;
    z-index: 1;
    top: 1%;
    left: 50%;
    -webkit-transform: translate(-50%);
    transform: translateX(-50%) translateY(-50%);
    border-radius: 50%;
    width: 10%;
    height: auto;
    background-color: black;
    box-shadow: 0 1px 8px white;
}
footer > section:nth-of-type(2) > div > div > p {
    border-bottom: 3px solid red;
}
footer > section:nth-of-type(2) > div > div > ul {
    list-style-type: none;
}
footer > section:nth-of-type(2) > div > div > ul > li {
    border-bottom: 3px solid gray;
}
