* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: "IranSans";
}
nav {
  direction: rtl;
}
div.navbar-collapse#hamburger_menu {
  direction: ltr;
}
nav > a > img {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  margin: 1rem;
  cursor: pointer;
}
nav > a > img:hover {
  -webkit-animation-name: resize;
  animation-name: resize;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
/* nav hamburger button: */
body > nav > button.navbar-toggler {
}
body > nav > button.navbar-toggler > div {
}
#hamburger {
  width: 40px;
  height: 10px;
  position: relative;
  margin: 50px auto;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg) translateY(-150%);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
#hamburger > span {
  display: block;
  position: absolute;
  height: 5px;
  width: 70%;
  border-radius: 9px;
  opacity: 0.5;
  left: 50%;
  -webkit-transform: rotate(0deg) translateX(-50%);
  transform: rotate(0deg) translateX(-50%);
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
#hamburger > span:nth-child(1) {
  top: 0px;
}

#hamburger > span:nth-child(2) {
  top: 10px;
}

#hamburger > span:nth-child(3) {
  top: 20px;
}
#hamburger.open > span:nth-child(1) {
  top: 10px;
  -webkit-transform: rotate(135deg) translateX(-50%);
  transform: rotate(135deg) translateX(-50%);
}
#hamburger.open > span:nth-child(2) {
  opacity: 0;
  left: -60px;
}
#hamburger.open > span:nth-child(3) {
  top: 10px;
  -webkit-transform: rotate(-135deg) translateX(-50%);
  transform: rotate(-135deg) translateX(-50%);
}
body > div:first-of-type {
  direction: rtl;
  text-align: right;
}
@-webkit-keyframes resize {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes resize {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
