* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
p,
a {
  font-family: "IranSans";
}
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body > div.jumbotron {
  direction: rtl;
  text-align: right;
}
.logo > img {
  width: 80%;
  height: auto;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.5);
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
header {
  background-color: rgba(100, 100, 100, 0.5);
  position: relative;
}
header ul {
  list-style-type: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
}
header > nav > div > ul > li {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  /* border: 3px solid red; */
}
header input#search {
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1.5px solid white;
  direction: rtl;
  font-family: "IranSans";
  color: white;
}
header input#search::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}
header input#search:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}
header input#search::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.7);
}
header input#search::placeholder {
  color: rgba(255, 255, 255, 0.7);
}
header i.fa-user,
header i.fa-shopping-cart,
header i.fa-search {
  font-size: 1.5rem;
  color: white;
}

header > nav > div > ul > li > div.hamburger_button {
  width: 25px;
  height: 25px;
  position: relative;
  cursor: pointer;
  border: 3px solid blue;
}
header > nav > div > ul > li > div.hamburger_button > span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: white;
  border-radius: 35px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
header > nav > div > ul > li > div.hamburger_button > span:nth-child(1) {
  top: 0;
}
header > nav > div > ul > li > div.hamburger_button > span:nth-child(2) {
  top: 50%;
}
header > nav > div > ul > li > div.hamburger_button > span:nth-child(3) {
  top: 100%;
}

.hidden {
  display: none;
}
.hamburger_button > span:nth-child(1).clicked {
  top: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.hamburger_button > span:nth-child(2).clicked {
  opacity: 0;
}
.hamburger_button > span:nth-child(3).clicked {
  top: 0;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}
@media screen and (max-width: 871px) {
  header > nav > div > ul > li > a {
    font-size: 0.75rem;
  }
  header i.fa-user,
  header i.fa-shopping-cart,
  header i.fa-search {
    font-size: 0.75rem;
  }
  header > nav > div > ul > li > input#search {
    width: 95%;
  }
  header > nav > div > ul > li > input#search::-webkit-input-placeholder {
    font-size: 0.75rem;
  }
  header > nav > div > ul > li > input#search:-ms-input-placeholder {
    font-size: 0.75rem;
  }
  header > nav > div > ul > li > input#search::-ms-input-placeholder {
    font-size: 0.75rem;
  }
  header > nav > div > ul > li > input#search::-webkit-input-placeholder {
    font-size: 0.75rem;
  }
  header > nav > div > ul > li > input#search::-webkit-input-placeholder {
    font-size: 0.75rem;
  }
  header > nav > div > ul > li > input#search:-ms-input-placeholder {
    font-size: 0.75rem;
  }
  header > nav > div > ul > li > input#search::-ms-input-placeholder {
    font-size: 0.75rem;
  }
  header > nav > div > ul > li > input#search::-webkit-input-placeholder {
    font-size: 0.75rem;
  }
  header > nav > div > ul > li > input#search::-webkit-input-placeholder {
    font-size: 0.75rem;
  }
  header > nav > div > ul > li > input#search:-ms-input-placeholder {
    font-size: 0.75rem;
  }
  header > nav > div > ul > li > input#search::-ms-input-placeholder {
    font-size: 0.75rem;
  }
  header > nav > div > ul > li > input#search::-webkit-input-placeholder {
    font-size: 0.75rem;
  }
  header > nav > div > ul > li > input#search::-webkit-input-placeholder {
    font-size: 0.75rem;
  }
  header > nav > div > ul > li > input#search:-ms-input-placeholder {
    font-size: 0.75rem;
  }
  header > nav > div > ul > li > input#search::-ms-input-placeholder {
    font-size: 0.75rem;
  }
  header > nav > div > ul > li > input#search::-webkit-input-placeholder {
    font-size: 0.75rem;
  }
  header > nav > div > ul > li > input#search::-webkit-input-placeholder {
    font-size: 0.75rem;
  }
  header > nav > div > ul > li > input#search:-ms-input-placeholder {
    font-size: 0.75rem;
  }
  header > nav > div > ul > li > input#search::-ms-input-placeholder {
    font-size: 0.75rem;
  }
  header > nav > div > ul > li > input#search::-webkit-input-placeholder {
    font-size: 0.75rem;
  }
  header > nav > div > ul > li > input#search::-webkit-input-placeholder {
    font-size: 0.75rem;
  }
  header > nav > div > ul > li > input#search:-ms-input-placeholder {
    font-size: 0.75rem;
  }
  header > nav > div > ul > li > input#search::-ms-input-placeholder {
    font-size: 0.75rem;
  }
  header > nav > div > ul > li > input#search::-webkit-input-placeholder {
    font-size: 0.75rem;
  }
  header > nav > div > ul > li > input#search::-webkit-input-placeholder {
    font-size: 0.75rem;
  }
  header > nav > div > ul > li > input#search:-ms-input-placeholder {
    font-size: 0.75rem;
  }
  header > nav > div > ul > li > input#search::-ms-input-placeholder {
    font-size: 0.75rem;
  }
  header > nav > div > ul > li > input#search::-webkit-input-placeholder {
    font-size: 0.75rem;
  }
  header > nav > div > ul > li > input#search::-webkit-input-placeholder {
    font-size: 0.75rem;
  }
  header > nav > div > ul > li > input#search:-ms-input-placeholder {
    font-size: 0.75rem;
  }
  header > nav > div > ul > li > input#search::-ms-input-placeholder {
    font-size: 0.75rem;
  }
  header > nav > div > ul > li > input#search::placeholder {
    font-size: 0.75rem;
  }
}
/* @media screen and (max-width: 724px) {
    header > nav > div.left > ul {
    }
} */
