* {
    padding: 0;
    margin: 0;
}
@font-face {
    src: url(../Fonts/IRANSansWeb_Bold.ttf);
    font-family: "IranSans";
}
@font-face {
    src: url(../Fonts/yekannumbers-regular.woff);
    font-family: "Yekan";
}

body {
    background-color: black;
}
body > section.background-image {
    height: 100vh;
    width: 100vw;
    /* position: relative; */
    background-image: url(../images/login_page_images/forgot/bluesky.jpg);
    background-position: center;
    background-size: cover;
}

body > section.background-image > fieldset {
    font-family: "IranSans";
    width: 30%;
    background-color: rgba(0, 0, 0, 0.3);
    /* position: absolute; */
    /* top: 50%; */
    /* left: 20%; */
    border: 2px solid white;
    color: white;
    direction: rtl;
    border-radius: 5px;
    text-align: center;
    box-shadow: 3px 3px 30px black;
    padding: 2rem 1rem;
}
body > section.background-image > fieldset > img {
    border-radius: 50%;
    width: 15%;
    height: auto;
    box-shadow: 1px 1px 10px black, -1px -1px 10px black;
}
body > section.background-image > fieldset > h3 {
    /* width: 80%; */
    color: white;
    text-align: center;
    padding: 1rem;
    /* text-shadow: 1px 1px 5px black, -1px -1px 5px black; */
}
body > section.background-image > fieldset > form > p.text-success > span.fa-check {
    border: 3px solid green;
    /* text-shadow: 1px 1px 5px black, -1px -1px 5px black; */
    padding: 0.5rem;
    border-radius: 50%;
}
body > section.background-image > fieldset > form > div.form-group > input {
    text-align: left;
    color: black;
    box-shadow: none;
}
body > section.background-image > fieldset > form > div.form-group > p {
    color: red;
}
body > section.background-image > fieldset > form > div.form-group > a {
    display: inline-block;
    width: 100%;
    text-align: right;
    color: white;
    /* text-shadow: 1px 1px 3px black, -1px -1px 3px black; */
}
body > section.background-image > fieldset > form > div.form-group > input::-webkit-input-placeholder {
    text-align: right;
}
body > section.background-image > fieldset > form > div.form-group > input::-moz-placeholder {
    text-align: right;
}
body > section.background-image > fieldset > form > div.form-group > input:-ms-input-placeholder {
    text-align: right;
}
body > section.background-image > fieldset > form > div.form-group > input::-ms-input-placeholder {
    text-align: right;
}
body > section.background-image > fieldset > form > div.form-group > input::placeholder {
    text-align: right;
}
body > section.background-image > fieldset > form > div.form-group > input[type="submit"] {
    width: 100%;
    text-align: center;
    color: white;
}
body > section.background-image > fieldset > form > p > span {
    font-size: 2rem;
}
.displayNone {
    display: none;
}
@media screen and (max-width: 986px) {
    body > section.background-image > fieldset > h3 {
        font-size: 1rem;
    }
    body > section.background-image > fieldset > form > div.form-group > p,
    body > section.background-image > fieldset > form,
    body > section.background-image > fieldset > form input {
        font-size: 0.75rem;
        text-align: center;
    }
    body > section.background-image > fieldset > form > div.form-group > a {
        text-align: center;
    }
}
@media screen and (max-width: 700px) {
    body > section.background-image > fieldset {
        width: 50%;
    }
}
@media screen and (max-width: 360px) {
    body > section.background-image > fieldset {
        width: 80%;
    }
}
