* {
  padding: 0;
  margin: 0;
}
main > section.photo-container {
  height: 600px;
  width: 100%;
  overflow: hidden;
  position: relative;
}
main > section.photo-container::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 0, 0, 0.2)), to(rgba(0, 255, 0, 0.2)));
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0.2), rgba(0, 255, 0, 0.2)); */
  z-index: 1;
}
main > section.photo-container > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
main > section.photo-container > h3 {
  position: absolute;
  z-index: 2;
  text-align: center;
  color: yellow;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}
main > section.photo-container > h3:first-of-type {
  top: 30%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-animation-name: right;
  animation-name: right;
}
main > section.photo-container > h3:nth-of-type(2) {
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-animation-name: left;
  animation-name: left;
}
main > section.result {
  direction: rtl;
  text-align: right;
}
main > section.file-upload {
  direction: rtl;
  text-align: right;
  font-family: "IranSans";
}
main > section.file-upload {
  background-color: rgba(0, 255, 255, 0.2);
  border-radius: 5px;
  padding: 2rem;
  margin-bottom: 5rem;
}
main > section.file-upload > fieldset > form > div.form-group > input {
  color: black;
}
main > section.file-upload > fieldset > form > div.form-group > p {
  color: red;
}
@-webkit-keyframes right {
  from {
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
  }
  to {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}
@keyframes right {
  from {
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
  }
  to {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}
@-webkit-keyframes left {
  from {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  to {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}
@keyframes left {
  from {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  to {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}
main > section.file-upload > div.preview {
  position: relative;
  width: 40%;
  height: 100%;
  border: 3px solid white;
  border-radius: 5px;
}

main > section.file-upload > div.preview > p {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
  padding: 1rem;
  border: 3px solid white;
}
label.required::after {
  content: "*";
  color: red;
}

span.fa-exclamation-circle {
  font-size: 2rem;
}
.displayNone {
  display: none;
}
.passed {
  border: 3px solid green !important;
}
.failed {
  border: 3px solid red !important;
}

@media screen and (max-width: 871px) {
  main > section.photo-container {
    width: 100%;
    height: 400px;
  }
  ::-webkit-input-placeholder {
    font-size: 0.75rem;
  }
  ::-moz-placeholder {
    font-size: 0.75rem;
  }
  :-ms-input-placeholder {
    font-size: 0.75rem;
  }
  ::-ms-input-placeholder {
    font-size: 0.75rem;
  }
  main > section.photo-container > h3,
  main > section.result > div > p,
  main > section.file-upload > fieldset > form > div.form-group > label,
  ::placeholder {
    font-size: 0.75rem;
  }
  main > section.photo-container > h3:nth-of-type(2) {
    top: 45%;
  }
}
@media screen and (max-width: 560px) {
  main > section.photo-container {
    height: 300px;
  }
  main > section.photo-container > h3:nth-of-type(2) {
    top: 50%;
  }
}
@media screen and (max-width: 400px) {
  main > section.photo-container {
    height: 200px;
  }
  main > section.photo-container > h3:nth-of-type(1) {
    top: 25%;
  }
}
