p {
  direction: rtl;
}
main > section > div {
  border-radius: 10px;
}
main > section.image-container {
  position: relative;
}
main > section.image-container > div::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(rgba(0, 0, 255, 0.4), rgba(0, 255, 0, 0.4));
}
main > section > div > h3 {
  border-radius: 5px;
  padding: 3rem;
  position: absolute;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
  color: yellow;
  top: 30%;
  left: 50%;
  transform: translate(-50%);
  -webkit-animation-name: translate;
  animation-name: translate;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
}
@-webkit-keyframes translate {
  from {
    transform: translateX(50%);
  }
  to {
    transform: translateX(-50%);
  }
}
@keyframes translate {
  from {
    transform: translateX(50%);
  }
  to {
    transform: translateX(-50%);
  }
}
main > section.image-container > div > img {
  width: 100%;
  height: auto;
}
main > section.description > div > ul {
  list-style-type: none;
}
main > section.description > div > ul > li > h4::before {
  content: "\f058";
  color: green;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  padding: 1rem;
}
main > section.description > div > ul > li > p {
  line-height: 2rem;
}
main > section.description > div > ul > li > ul {
  list-style-type: none;
}
main > section.description > div > ul > li > ul > li > p::before {
  content: "\f060";
  color: green;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  padding: 1rem;
}
main > section.videos {
  background-image: linear-gradient(to right, rgba(0, 255, 255, 0.1), rgba(255, 0, 255, 0.1));
}
main > section.videos > div.video-wrapper {
  margin-bottom: 7rem;
}
main > section.videos > h4,
main > section.videos > p {
  color: yellow;
}
/* .......... */
main > section > div.video-container > div > video {
  border-radius: 15px;
}
main > section.creativity {
  border-radius: 5px;
  height: auto;
}
main > section.creativity > h3 {
  text-align: center;
  color: yellow;
  text-shadow: 1px 1px 1px black, -1px -1px 1px black;
  margin: 0;
  border-radius: 5px 5px 0 0;
}

main > section.creativity > p {
  direction: rtl;
  color: yellow;
  /* background-color: rgba(255, 255, 255, 0.2); */
  margin: 0;
  text-shadow: 1px 1px 1px black, -1px -1px 1px black;
  text-align: justify;
  line-height: 2rem;
  border-radius: 0 0 5px 5px;
}
main > section.creativity > table {
  box-sizing: border-box;
  height: auto;
}
main > section.creativity > table tr {
  margin: 0;
}
main > section.creativity > table tr:first-of-type,
main > section.creativity > table tr:nth-of-type(3) {
  height: 300px;
}
main > section.creativity > table tr > td {
  padding: 0;
}
main > section.creativity > table tr > td {
  text-align: center;
  height: 100%;
}
main > section.creativity > table tr > td > a {
  color: yellowgreen;
  text-shadow: 1px 1px 1px black, -1px -1px 1px black;
}

main > section.creativity > table tr > td > a > img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}
@media screen and (max-width: 992px) {
  main > section.creativity > table tr:first-of-type,
  main > section.creativity > table tr:nth-of-type(3) {
    height: 220px;
  }
}

@media screen and (max-width: 768px) {
  main > section.container > h3 {
    font-size: 1.25rem;
  }
  main > section > div > h3 {
    padding: 0.5rem;
    font-size: 0.75rem;
    line-height: 2rem;
    top: 10%;
    width: 80%;
  }
  main > section.creativity > table tr:first-of-type,
  main > section.creativity > table tr:nth-of-type(3) {
    height: 150px;
  }
}
@media screen and (max-width: 760px) {
  main > section.creativity > table tr > td > a {
    font-size: 0.75rem;
  }
  main > section.creativity > h3,
  main > section.cooperation > div > h3,
  main > section.cooperation > div.cooperation-talented > div > h3 {
    font-size: 1.5rem;
  }
  main > section.creativity > p {
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 576px) {
  main > section > div > h4 {
    font-size: 1rem;
  }
  main > section.description > div > ul > li > h4 {
    font-size: 1rem;
  }
  main > section.description > div > ul > li > ul > li > p,
  main > section.description > div > ul > li > p {
    font-size: 0.75rem;
  }
}
