body>main>div#contact_us_modal>div.modal-dialog>div.modal-content {
    direction: rtl;
    text-align: right;
}

body>main>div#contact_us_modal>div.modal-dialog>div.modal-content>div.modal-header>div>button.close {
    margin: -1rem;
    float: left;
}

body>main>div#contact_us_modal>div.modal-dialog>div.modal-content>div.modal-header>div>img {
    border-radius: 50%;
    width: 25%;
    height: auto;
}

body>main>div#contact_us_modal>div.modal-dialog>div.modal-content>div.modal-footer>p>span>a {
    font-weight: bold;
}

@media screen and (max-width:576px) {
    body>main>div#contact_us_modal>div.modal-dialog>div.modal-content {
        font-size: 0.75rem;
    }
}