@font-face {
  src: url(../Fonts/IRANSansWeb_Bold.ttf);
  font-family: "IranSans";
}

@font-face {
  src: url(../Fonts/yekannumbers-regular.woff);
  font-family: "Yekan";
}

@font-face {
  src: url(../Fonts/DancingScript-VariableFont_wght.ttf);
  font-family: "dancingScript";
}

.iranSans {
  font-family: 'iranSans';
}

.Yekan {
  font-family: "Yekan";
}

.dancingScript {
  font-family: 'dancingScript';
}