* {
    padding: 0;
    margin: 0;
}

main {
    position: relative;
}

main>div.breadcrumb {
    direction: rtl;
    background-color: transparent;
}

div.breadcrumb span {
    border-radius: 5px;
}

main>section.product-info>h1 {
    font-size: 3rem;
    font-weight: 900;
}

main>section.product-info>div.photo-section {
    background-color: #ffe !important;
    box-shadow: 3px 3px 3px gray;
    overflow: hidden;
}

main>section.product-info>div.photo-section>div.photo-container {
    position: relative;
    min-height: 250px;
}

main>section.product-info>div.photo-section>div.photo-container>a {
    display: inline-block;
    width: 100%;
}

main>section.product-info>div.photo-section>div.photo-container>a>img {
    width: 100%;
    height: auto;
}

main>section.product-info>div.photo-section>div.photo-container>ul.left-icons-section {
    position: absolute;
    z-index: 2;
    top: 0;
    left: -80px;
    bottom: 0;
    list-style-type: none;
    font-size: 1.5rem;
    background-color: lightblue;
    border-radius: 5px;
    transition: all linear 250ms;
}

main>section.product-info>div.photo-section>div.photo-container:hover>ul.left-icons-section {
    left: 0;
}

main>section.product-info>div.photo-section>div.photo-container>ul.left-icons-section>li>form>button {
    background-color: transparent;
    color: white;
    text-shadow: 3px 3px 3px gray;
    border: none;
    box-shadow: none;
    outline: none;
}

main>section.product-info>div.photo-section>div.sub-info>form>p>button {
    background-color: transparent;
    border: none;
}

main>section.product-info>div.photo-section>div.photo-container>ul.left-icons-section a {
    color: white;
    text-shadow: 3px 3px 3px gray;
    display: inline-block;
}

p.dancingScript {
    font-size: 1.5rem;
    font-weight: bold;
}

main>section.product-info>div.info-section>table {
    direction: rtl;
    text-align: right;
    font-family: "iranSans";
}

main>section.product-info>div.related-tags {
    background-color: #ffe;
    direction: rtl;
}

main>section.product-info>div.related-tags a {
    color: gray;
}

main>section.product-info>div.related-tags>p::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
    width: 60%;
    border-bottom: 3px solid blue;
}

main>section.product-info>div.related-tags>ul,
main>section.product-info>div.related-tags>ul>li>ul {
    list-style-type: none;
}

main>section.product-info>div.related-tags>ul>li>ul>li>a:hover::before {
    display: inline-block;
}

main>section.product-info>div.related-tags>ul>li>ul>li>a::before {
    content: "  -  ";
    display: none;
}

.error {
    color: red;
}

main>section.creativity {
    border-radius: 5px;
    height: auto;
}

main>section.creativity>h3 {
    text-align: center;
    color: yellow;
    text-shadow: 1px 1px 1px black, -1px -1px 1px black;
    margin: 0;
    border-radius: 5px 5px 0 0;
}

main>section.creativity>p {
    direction: rtl;
    color: yellow;
    margin: 0;
    text-shadow: 1px 1px 1px black, -1px -1px 1px black;
    text-align: justify;
    line-height: 2rem;
    border-radius: 0 0 5px 5px;
}

main>section.creativity>table {
    box-sizing: border-box;
    height: auto;
}

main>section.creativity>table tr {
    margin: 0;
}

main>section.creativity>table tr:first-of-type,
main>section.creativity>table tr:nth-of-type(3) {
    height: 300px;
}

main>section.creativity>table tr>td {
    padding: 0;
}

main>section.creativity>table tr>td {
    text-align: center;
    height: 100%;
}

main>section.creativity>table tr>td>a {
    color: yellowgreen;
    text-shadow: 1px 1px 1px black, -1px -1px 1px black;
}

main>section.creativity>table tr>td>a>img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
}

section#share_modal {
    direction: rtl;
}

section#share_modal>div.modal-dialog>div.modal-content>div.modal-header>span.close {
    cursor: pointer;
}

section#share_modal>div.modal-dialog>div.modal-content>div.modal-footer>div.link-container>a {
    font-size: 3rem;
}

section#share_modal>div.modal-dialog>div.modal-content>div.modal-body>div.link-container>input {
    direction: ltr;
    width: 80%;
    text-overflow: ellipsis;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid gray;
}

section#share_modal>div.modal-dialog>div.modal-content>div.modal-body>div.link-container>button {
    font-family: "iranSans";
    border-radius: 5px;
}

@media screen and (max-width: 992px) {

    main>section.creativity>table tr:first-of-type,
    main>section.creativity>table tr:nth-of-type(3) {
        height: 220px;
    }

    main>section.product-info>div.related-tags>p::after {
        width: 70%;
    }

    div.breadcrumb span {
        font-size: 0.75rem;
    }
}

@media screen and (max-width: 768px) {

    main>section.creativity>table tr:first-of-type,
    main>section.creativity>table tr:nth-of-type(3) {
        height: 150px;
    }
}

@media screen and (max-width: 760px) {
    main>section.creativity>table tr>td>a {
        font-size: 0.75rem;
    }

    main>section.creativity>h3,
    main>section.creativity>p {
        font-size: 0.75rem;
    }
}

@media screen and (max-width: 767px) {

    div.breadcrumb,
    main>section.product-info>div.info-section>table,
    main>section.product-info>div.related-tags {
        font-size: 0.75rem;
    }

    main>section.product-info>h1 {
        font-size: 2rem;
    }

    main>section.product-info>div.photo-section>div.photo-container>ul.left-icons-section {
        font-size: 1rem;
    }

    main>section.product-info>div.related-tags>p {
        text-align: center;
    }

    main>section.product-info>div.related-tags>ul {
        display: flex;
        justify-content: space-around;
    }

    main>section.product-info>div.related-tags>p::after {
        width: 90%;
        left: 5%;
        right: 5%;
    }
}

@media screen and (max-width: 500px) {
    main>section.product-info>div.related-tags>ul>li>a>i {
        display: none;
    }

    div.modal-header>h4 {
        font-size: 1rem;
    }

    div.modal-content {
        font-size: 0.75rem;
    }

    div.modal-content div.link-container i {
        font-size: 1.5rem;
    }
}