* {
    padding: 0;
    margin: 0;
    direction: rtl;
}
@font-face {
    src: url(../../httpdocs/Fonts/IRANSansWeb_Bold.ttf);
    font-family: "IranSans";
}
.displayNone {
    display: none;
}
.iranSans {
    font-family: "iranSans";
}
.passed {
    border: 2px solid green !important;
}
.failed {
    border: 2px solid red !important;
}

::-webkit-input-placeholder {
    font-family: "iranSans";
}
::-moz-placeholder {
    font-family: "iranSans";
}
:-ms-input-placeholder {
    font-family: "iranSans";
}
::-ms-input-placeholder {
    font-family: "iranSans";
}
::placeholder,
label {
    font-family: "iranSans";
}
main > section {
    padding: 2rem;
    box-shadow: 1px 1px 8px black;
}
main > section + section {
    margin-top: 3rem;
}
main > section > h3 {
    text-align: center;
}
main > section > div > h5 {
    text-align: center;
}
main > section > div {
    border-radius: 5px;
    box-shadow: 1px 1px 5px black;
}
main > section > div + div {
    margin-top: 3rem;
}
main > section > div > table > tbody > tr > td.header {
    width: 3rem;
    height: 10rem;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
}
main > section > div > table > tbody > tr > td.header > p {
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    -webkit-text-orientation: mixed;
    text-orientation: mixed;
    width: 100%;
    height: 100%;
    margin-top: 5rem;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
main > section > div > table p {
    margin: 0;
    text-align: right;
}
main > section.users-info > div.search-criteria {
    border-radius: 5px;
    box-shadow: 1px 1px 5px black;
}
main > section.users-info > div.search_criteria > div > span > input[type="checkbox"] {
    margin-left: 0.5rem;
    cursor: pointer;
}
main > section.users-info > form {
    border-radius: 5px;
}
main > section.users-info > form > div.form-group > p {
    text-align: right;
}
main > section.users-info > form > div.checkbox {
    text-align: right;
}
main > section.users-info > form > div.checkbox > label > input[type="checkbox"] {
    margin-left: 0.25rem;
}
main > section.users-info > form > input[type="submit"] {
    margin-left: 15px;
    margin-right: 15px;
    width: 100%;
}
main > section.products-info > form > input[type="submit"] {
    width: 100%;
    margin-left: 15px;
    margin-right: 15px;
}
main > section.products-info > div.search_criteria {
    border-radius: 5px;
    box-shadow: 1px 1px 5px black;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
}
main > section.products-info > div.search_criteria > div > span > input[type="checkbox"] {
    margin-left: 0.5rem;
    cursor: pointer;
}
@media screen and (max-width: 657px) {
    main > section.products-info > div.search_criteria > div {
        font-size: 0.75rem;
    }
    main > section.products-info > div.search_criteria > h5 {
        font-size: 1rem;
    }
}
@media screen and (max-width: 583px) {
    main > section.users-info > div > table {
        font-size: 0.75rem;
    }
    main > section.users-info > div > h5 {
        font-size: 1rem;
    }
}
@media screen and (max-width: 310px) {
    main > section.users-info > form,
    main > section.users-info > div.search_criteria > div {
        font-size: 0.75rem;
    }
    main > section.users-info > div.search_criteria > h5 {
        font-size: 1rem;
    }
}
