* {
    padding: 0;
    margin: 0;
    direction: rtl;
}
@font-face {
    src: url(../Fonts/IRANSansWeb_Bold.ttf);
    font-family: "IranSans";
}

.displayNone {
    display: none;
}
.iranSans {
    font-family: "iranSans";
}
.passed {
    border: 2px solid green !important;
}
.failed {
    border: 2px solid red !important;
}

::-webkit-input-placeholder {
    font-family: "iranSans";
}

::-moz-placeholder {
    font-family: "iranSans";
}

:-ms-input-placeholder {
    font-family: "iranSans";
}

::-ms-input-placeholder {
    font-family: "iranSans";
}

::placeholder,
label {
    font-family: "iranSans";
}
::-webkit-input-placeholder {
    color: gray !important;
}
::-moz-placeholder {
    color: gray !important;
}
:-ms-input-placeholder {
    color: gray !important;
}
::-ms-input-placeholder {
    color: gray !important;
}
::placeholder {
    color: gray !important;
}
input {
    color: black !important;
}
main > section {
    padding: 2rem;
    box-shadow: 1px 1px 8px black;
}
main > section + section {
    margin-top: 3rem;
}
main > section > h3 {
    text-align: center;
}
main > section > div {
    border-radius: 5px;
    box-shadow: 1px 1px 5px black;
}
main > section > div + div {
    margin-top: 3rem;
}
main > section.users-info > div.search-criteria {
    border-radius: 5px;
    box-shadow: 1px 1px 5px black;
}
main > section.users-info > div.search_criteria > div > span > input[type="checkbox"] {
    margin-left: 0.5rem;
    cursor: pointer;
}
main > section.users-info > form {
    border-radius: 5px;
}
main > section.users-info > form > div.form-group > select {
    color: gray;
}
main > section.users-info > form > div.form-group > p {
    text-align: right;
}
main > section.users-info > form > div.checkbox {
    text-align: right;
}
main > section.users-info > form > div.checkbox > label > input[type="checkbox"] {
    margin-left: 0.25rem;
}
main > section.users-info > form > input[type="submit"] {
    margin-left: 15px;
    margin-right: 15px;
    width: 100%;
}
main > section.users-info > div.result {
    background: lightblue;
}
main > section.users-info > div.result > div {
    box-shadow: 0 1px 3px black;
}
main > section.users-info > div.result > div > div > p {
    direction: rtl;
}
main > section.users-info > div.result > div > div > p > span {
    font-size: 0.75rem;
    color: rgba(0, 0, 0, 0.7);
}
main > section.users-info > div.result > form > div > button {
    text-align: center;
    background-color: transparent;
    border-radius: 5px;
}

main > section.products-info > form > input[type="submit"] {
    width: 100%;
    margin-left: 15px;
    margin-right: 15px;
}
main > section.products-info > div.search_criteria {
    border-radius: 5px;
    box-shadow: 1px 1px 5px black;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
}
main > section.products-info > div.search_criteria > div > span > input[type="checkbox"] {
    margin-left: 0.5rem;
    cursor: pointer;
}
@media screen and (max-width: 840px) {
    main > section.users-info > div.result > form > div > button {
        font-size: 0.8rem;
    }
}
@media screen and (max-width: 810px) {
    main > section.products-info > div.search_criteria > div {
        font-size: 0.75rem;
    }
    main > section.products-info > div.search_criteria > h5 {
        font-size: 1rem;
    }
}
@media screen and (max-width: 576px) {
    main > section.users-info > div.result > div > div > p > a > i {
        font-size: 0.75rem;
    }

    main > section.users-info > div.result > div > div p {
        font-size: 0.75rem;
    }
}
@media screen and (max-width: 310px) {
    main > section.users-info > form,
    main > section.users-info > div.search_criteria > div {
        font-size: 0.75rem;
    }
    main > section.users-info > div.search_criteria > h5 {
        font-size: 1rem;
    }
}
