* {
  padding: 0;
  margin: 0;
}

@font-face {
  src: url(../../Fonts/IRANSansWeb_Bold.ttf);
  font-family: "IranSans";
}

p,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "IranSans";
  direction: rtl;
}
div.custom-error {
  padding: 2rem;
  text-align: center;
}
div.custom-error > span {
  font-size: 6rem;
}
div.custom-error > img {
  border-radius: 50%;
}
section.error-message {
  text-align: center;
}
